.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 25px;
    font-weigt: bold;
}

.container .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}